:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #2f303a;
  --title-white-color: rgba(255, 255, 255, 0.6);
  --background-grey-color: #F5F4FA;
  --icons-color: rgba(175, 177, 184, 1);
  --modal-text-color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  min-height: 581px;
  width: 528px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:focus, .button-close:hover {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-field input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 11px 12px 11px 42px;
  border-radius: 4px;
  border: 1px solid var(--icons-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-field input:focus {
  border-color: var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.form-field textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--icons-color);
  outline: none;
}
.form-field textarea:focus {
  border-color: var(--accent-color);
}

.form-field-textaria {
  margin-bottom: 20px;
}

.btn-modal {
  display: block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.condition {
  margin-left: 5px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-field:focus-within .icon-modal {
  fill: var(--accent-color);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation,
.contact__container {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
}
.contact li:not(:first-child) {
  margin-left: 50px;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.menu li:not(:first-child) {
  margin-left: 50px;
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--primary-text-color);
}

.menu .link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .link:hover, .menu .link:focus {
  color: var(--accent-color);
}

.contact__item {
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link {
  position: relative;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__list .link:hover, .contact__list .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact .link {
  padding: 32px 0;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0px auto;
  max-width: 1600px;
  background-color: var(--primary-black-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img001.jpg);
}

.hero-main__title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-main__btn {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

.section__peculiarities {
  padding-bottom: 0;
}

.peculiarities {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.peculiarities .item + .item {
  margin-left: 30px;
}

.icons-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-grey-color);
}

.peculiarities__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.peculiarities__text {
  width: 270px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
}

.container-work {
  display: flex;
}

.image-work {
  display: block;
  width: 370px;
}

.container-work .item + .item {
  margin-left: 30px;
}

.description-item {
  position: relative;
}

.description-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.description-list {
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-align: center;
  text-transform: uppercase;
}

.team-container {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-comand {
  padding: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover, .social-item:focus {
  background-color: var(--accent-color);
}
.social-item:hover .icon, .social-item:focus .icon {
  fill: var(--primary-white-color);
}

.social-item .icon {
  fill: var(--icons-color);
}

.team {
  background-color: var(--background-grey-color);
}

.team-name {
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  margin-bottom: 16px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.clients {
  display: flex;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .icon, .clients-link:focus .icon {
  fill: var(--accent-color);
}

.clients-list {
  width: 170px;
  height: 92px;
}

.clients-link .icon {
  fill: var(--icons-color);
}

.clients .item + .item {
  margin-left: 30px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btns li:not(:first-child) {
  margin-left: 8px;
}

.btns .btn-style {
  background-color: var(--background-grey-color);
  color: var(--primiry);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btns .btn-style:hover, .btns .btn-style:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.items {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items:hover, .items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.items .desing-style {
  overflow: hidden;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.desing-page li {
  margin-left: 30px;
  margin-top: 30px;
}

.desing-page {
  display: flex;
  flex-wrap: wrap;
}
.desing-page li:nth-child(3n+1) {
  margin-left: 0px;
}
.desing-page li:nth-child(-n+3) {
  margin-top: 0px;
}

.addition-list {
  position: relative;
  overflow: hidden;
}

.addition-list .work-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  text-decoration: none;
  transform: translateY(100%);
}
.addition-style:hover .work-text {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.desing-list {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.desing-title {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-black-color);
}

.logo-title {
  margin-bottom: 20px;
}

.address-list .address-mail .address-tel {
  text-decoration: none;
  font-style: normal;
}

.top-list {
  margin-top: 9px;
}

.address-city {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address-tel {
  color: var(--title-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-tel:hover, .address-tel:focus {
  color: var(--accent-color);
}

.address-mail {
  color: var(--title-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail:hover, .address-mail:focus {
  color: var(--accent-color);
}

.tipo {
  color: var(--primary-white-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.social-main-list {
  display: flex;
  gap: 10px;
}

.social-container-wrapper {
  padding: 0;
}

.social-title {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-top-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-top-icon:focus, .social-top-icon:hover {
  background-color: var(--accent-color);
}

.icon-social {
  fill: var(--primary-white-color);
}

.subscription-list {
  display: flex;
  position: relative;
}
.subscription-list:focus-within input, .subscription-list:hover input {
  border-color: var(--accent-color);
}

.subscription-list input {
  margin: 0;
  width: 358px;
  padding: 15px 16px;
  border-radius: 4px;
  color: var(--primary-white-color);
  border: 1px solid var(--icons-color);
  background-color: var(--primary-black-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.btn-subscription {
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 12px 28px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.icon-subscription {
  position: absolute;
  top: 13px;
  right: 28px;
}/*# sourceMappingURL=main.css.map */