.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 300px;
    padding: 35px 20px;
    background-color: #fff;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms linear;

    @include mobile {
        width: 380px;
    }

    @include tablet {
        width: 450px;
        min-height: 609px;
    }

    @include desktop {
        min-width: 528px;
        min-height: 581px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    @include tablet {
        font-weight: 700;
        font-size: 20px;
        line-height: calc(30 / 20);
        text-align: center;
        letter-spacing: 0.03em;
    }

    @include desktop {
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.form {
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
}

.form-field input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 11px 12px 11px 42px;
    border-radius: 4px;
    border: 1px solid var(--icons-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    &:focus {
        border-color: var(--accent-color);
    }
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.71;
    color: var(--title-text-color);

    @include tablet {
        font-size: 12px;
    }

    @include desktop {
        font-size: 14px;
    }
}

.form-field textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid var(--icons-color);
    outline: none;

    &:focus {
        border-color: var(--accent-color);
    }
}

.form-field-textaria {
    margin-bottom: 20px;
}

.btn-modal {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.condition {
    margin-left: 5px;
    color: var(--accent-color);
    font-size: 12px;
    line-height: 1.71;
    text-decoration-line: underline;

    @include tablet {
        font-size: 12px;
    }

    @include desktop {
        font-size: 14px;
    }
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    margin-right: 7px;
}

.checkbox:checked+.icon-checkbox {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url("../images/icon\ check.svg");
    background-size: contain;
    background-origin: border-box;
    background-position: center;
}

.icon-modal {
    position: absolute;
    top: 50%;
    left: 12px;
    margin: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    .form-field:focus-within & {
        fill: var(--accent-color);
    }
}